.pagination-wrap {
	text-align: center;
	li {
		a {
			font-size: 14px;
			color: #5284a9;
		    border: 1px solid #5284a9;
		    border-radius: 0;
		    -moz-border-radius: 0;
		    -webkit-border-radius: 0;
		    margin: 0 10px;
		    cursor: pointer;
		    @media (max-width: 480px) {
                margin: 0 2px;
            }
		    &:hover,
		    &:focus,
		    &:active {
		    	background-color: #5284a9;
		    	border: 1px solid #5284a9;
                color: #fff;
		    }    
		}
	}
	.disabled {
		display: none;
	}
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.pagination > .active > a {
	background-color: #5284a9;
	border: 1px solid #5284a9;
    color: #fff;
}