.tag-wrap {
	.btn-default {
		margin-right: 12px;
		padding: 4px 12px;
		background-color: #52b6f9;
		color: #fff;
		font-size: 14px;
		line-height: 8px;
		border: 1px solid #52b6f9;
		&:hover,
		&:focus,
		&:active {
            border: 1px solid #52b6f9;
            background-color: #52b6f9;
            color: #fff;
		}
	}
}
.read-more {
    padding: 4px 35px;
    margin-right: 12px;
    background-color: #52b6f9;
    color: #fff;
    font-size: 14px;
    line-height: 8px;
    border: 1px solid #52b6f9;
    &:hover,
	&:focus,
	&:active {
        border: 1px solid #52b6f9;
        background-color: #52b6f9;
        color: #fff;
	}
}