.content-list-mobile {
	background-color: #fff;
	padding-top: 10px;
    h4 {
    	text-align: center;
        font-weight: 700;
		color: #3e566a;
		font-size: 16px;
		margin-bottom: 0;
    }
    .carousel-inner {
    	height: 178px;
    	.item {
    		height: 100%;
    		background-color: #fff;
    		.carousel-caption {
    			color: #5284a9;
    			text-shadow: none;
    			top: 0;
    			bottom: 0;
    			left: 27%;
    			right: 27%;
    			@media (max-width: 480px) {
				    left: 15%;
    			    right: 15%;
				}
    			h5 {
    				font-weight: 700;
    			}
    			p, span {
    				font-style: italic;
    			}
    		}
    	}
    }
    .users-raiting-mobile {
    	text-align: center;
    	color: #628eb0;
    	h4 {
    		font-size: 18px;
    		margin: 0 0 10px 0;
    	}
        .user-name {
            font-weight: 700;
            font-size: 18px;
            display: block;
            margin-bottom: 5px;
        }
        img {
        	border: 1px solid #628eb0;
        	display: block;
        	margin: 0 auto;
        }
        p {
        	margin: 5px 0;
        }
        .total-count {
        	font-weight: 700;
        	margin-right: 5px;
        }
    }
} 
//carousel-control slider
.carousel-control {
    .carousel-left-arrow, .carousel-right-arrow {
        width: 100%;
        height: 100%;
        display: block;
        background-position: 26% 50%;
    }
    .carousel-left-arrow {
        background: url(../images/carousel-control-left-arrow.png);
        background-position: 0 50%;
        background-repeat: no-repeat;
    }
    .carousel-right-arrow {
        background: url(../images/carousel-control-right-arrow.png);
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}