.title {
	margin-left: 0;
	color: #52b6f9;
	font-weight: 700;
	margin-left: 0;
}
#login {
	.content-list {
		p {
			color: #3d5569;
		}
		h3 {
			color: #52b6f9;
			font-weight: 700;
		}
	}
}
.login-wrap {
	width: 75%;
	@media (min-width: 768px) and (max-width:1024px) {
        width: 85%;
    }
    @media (max-width:767px) {
        width: 100%;
    }
}
.login-form {
    .login-btn {
    	background-color: #52b6f9;
    	color: #fff;
    	font-weight: 700;
    	text-align: center;
    	width: 100%;
    	border: none;
    	border-radius: 0;
    	-webkit-border-radius: 0; 
        -moz-border-radius: 0;
    	&:active,
    	&:hover,
    	&:focus {
    		background-color: #5284a9;
    		color: #fff;
    	}
    }
	.form-group {
		position: relative;
		margin-bottom: 20px;
		.fa-user,
		.fa-lock {
			position: absolute;
			left: 16px;
            top: 10px;
            color: #52b6f9;
		}
		input {
			border: 1px solid #3d5569;
			border-radius: 0;
			-webkit-border-radius: 0; 
            -moz-border-radius: 0;
			font-weight: 700;
			padding-left: 40px;	
			box-shadow: none;	
		}
		.btn {
			position: absolute;
			right: 12px;
            top: 6px;
			background-color: #3d5569;
			color: #fff;
            vertical-align: middle;
            padding: 0 7px;
            border-radius: 0;
            -webkit-border-radius: 0; 
            -moz-border-radius: 0;
		}	
		::-webkit-input-placeholder {color:#52b6f9;}
		::-moz-placeholder          {color:#52b6f9;}/* Firefox 19+ */
		:-moz-placeholder           {color:#52b6f9;}/* Firefox 18- */
		:-ms-input-placeholder      {color:#52b6f9;}
	}
	.checkbox {
		margin-top: 20px;
		a {
			color: #3d5569;
		}
		label {
			color: #52b6f9;
			font-weight: 700;
		}
	}
	/* Base for label styling */
	[type="checkbox"]:not(:checked),
	[type="checkbox"]:checked {
	    position: absolute;
	    left: -9999px;
	}
	[type="checkbox"]:not(:checked) + label,
	[type="checkbox"]:checked + label {
	    position: relative;
	    padding-left: 25px;
	    cursor: pointer;
	}

	/* checkbox aspect */
	[type="checkbox"]:not(:checked) + label:before,
	[type="checkbox"]:checked + label:before {
	    content: '';
	    position: absolute;
	    left:0; 
	    top: 2px;
	    width: 17px; 
	    height: 17px;
	    border: 1px solid #52b6f9;
	    background: #f8f8f8;
	}
	/* checked mark aspect */
	[type="checkbox"]:not(:checked) + label:after,
	[type="checkbox"]:checked + label:after {
	    content: '✓';
	    position: absolute;
	    top: 3px; 
	    left: 0px;
	    font-size: 19px;
	    line-height: 0.8;
	    color: #fff;
	    background-color: #52b6f9;
	    border: 1px solid #52b6f9;
	    width: 17px;
        height: 17px;
	    transition: all .2s;
	}
	/* checked mark aspect changes */
	[type="checkbox"]:not(:checked) + label:after {
	    opacity: 0;
	    transform: scale(0);
	}
	[type="checkbox"]:checked + label:after {
	    opacity: 1;
	    transform: scale(1);
	}
	/* disabled checkbox */
	[type="checkbox"]:disabled:not(:checked) + label:before,
	[type="checkbox"]:disabled:checked + label:before {
	    box-shadow: none;
	    border-color: #bbb;
	    background-color: #ddd;
	}
	[type="checkbox"]:disabled:checked + label:after {
	    color: #999;
	}
	[type="checkbox"]:disabled + label {
	    color: #aaa;
	}
	/* accessibility */
	[type="checkbox"]:checked:focus + label:before,
	[type="checkbox"]:not(:checked):focus + label:before {
	    border: 1px solid #52b6f9;
	}

	/* hover style just for information */
	label:hover:before {
	    border: 1px solid #52b6f9 !important;
	}
}
.socials {
	@media (max-width: 767px) {
	    text-align: center;
	}
	.selfcad-btn, .linkedin-btn {
		background-color: #0177b5;
	}
	.facebook-btn {
		background-color: #3949ab;
	}
	.twitter-btn {
		background-color: #42a5f5;
	}
	p {
		@media (max-width: 767px) {
	        text-align: center;
	        margin-top: 30px;
	    }
	}
	a {
		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
		}
		img {
			margin-right: 6px;
		}
		span {
			display: inline-block;
			line-height: 28px;
		    width: 81%;
		    margin-right: 5%;
		    text-align: center;
		    box-sizing: border-box;
			font-size: 18px;
            color: #fff;
            vertical-align: middle;
            @media (min-width: 768px) and (max-width:1024px) {
				width: 74%;
		    }
		}
	}
}