//ALL TOPICS
.sort-by {
	@media (max-width: 767px) {
        margin-top: 10px;
	}
	label {
        color: #3d5569;
        font-size: 16px;
        margin-right: 25px;
        @media (max-width: 767px) {
            display: block;
		}
	}
	.form-group input, .btn-default {
        border: 1px solid #3d5569;
        color: #3d5569;
	}
	.form-group.add-btn {
		float: right;
		@media (max-width: 767px) {
            float: left;
		}
	}
	::-webkit-input-placeholder {color:#3d5569;}
	::-moz-placeholder          {color:#3d5569;}/* Firefox 19+ */
	:-moz-placeholder           {color:#3d5569;}/* Firefox 18- */
	:-ms-input-placeholder      {color:#3d5569;}
	#sort-by, #gallery-sort {
		display: inline-block;
		position: relative;
		&:before {
			position: absolute;
			content: '';
			right: 15px;
			top: 42%;
			border-top: 8px solid #3d5569;
	        border-right: 8px solid transparent;
	        border-left: 8px solid transparent;
		}
		.btn-default {
			font-size: 18px;
			height: 33px;
			padding: 0 30px 0 15px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: #fff;	
		}
	}
	.btn-default.add-topic {
		background-color: #52b6f9;
		color: #fff;
		padding-left: 30px;
	}
	.add-topic {
		position: relative;
		border-color: #52B6F9;
		@media (max-width: 767px) {
            float: left;
		}
        &:before {
            background: url(../images/plus-icon.png) no-repeat;
            position: absolute;
            left: 0;
            content: '';
            width: 13px;
            height: 13px;
            left: 10px;
            top: 9px;
        }
	}
}
// END ALL TOPICS

//ALL USERS
.popover.right > .arrow:after {
	border-right-color: #3d5569;
}
.tooltip-inner {
    color: #fff;
    background-color: #52b6f9;
    border-radius: 0;
}
.tooltip-arrow {
    border-top-color: #52b6f9 !important;
    left: 0;
}
.popover {
	max-width: 310px;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	.popover-content {
		.user-photo-circle {
			width: 60px;
			display: inline-block;
			float: left;
            border: 1px solid #cecece;

		}
		.popover-title-wrap {
            position: relative;
			h4 {
				display: inline-block;
				width: 72%;
			}
		}
		.follow-btn {
			background-color: #3d5569;
			font-size: 11px;
			color: #fff;
			height: 15px;
            padding: 0 12px;
            position: absolute;
            right: 0;
            top: 12px;
		}
		ul {
			list-style: none;
            padding-left: 0;
            font-size: 12px;
            color: #3d5569;
            span {
            	font-weight: 300;
            	width: 37%;
            }
		}
	}
}
#all-users {
	.filter {
		overflow: hidden;
		position: relative;
		margin-bottom: 0;
		img {
			position: absolute;
		    left: 8px;
		    width: 10%;
		    top: 13%;
		    cursor: pointer;
		    @media (max-width: 767px) {
	            width: 19px;
			}
		}
		input {
			height: 23px;
			padding: 0 12px 0 30px;
			border-radius: 0;
			-webkit-border-radius: 0; 
            -moz-border-radius: 0; 
		}
        @media (max-width: 767px) {
            width: 100%;
            margin: 5px 0;
		}
	}
	#sort-by-period, #sort-by-date {
		float: left;
		position: relative;
		padding: 0 10px;
		&:before {
			position: absolute;
			content: '';
			right: 0;
			top: 38%;
			border-top: 8px solid;
	        border-right: 8px solid transparent;
	        border-left: 8px solid transparent;
		}
	}
	#sort-by-period select, #sort-by-date select {
		border-radius: 0;
        color: #5284a9;
        background-color: white;
        height: 23px;
        line-height: 23px;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none;
        -moz-border: none;
        -webkit-border: none;
        outline: none;
        padding: 0 10px;
	}
	#sort-by-period select {
		font-size: 18px;
		font-weight: 700;
    }
    #sort-by-date select {
    	font-size: 14px;
    	text-transform: uppercase;
    }
    .table-responsive {
    	margin-top: 0;
    	.user-photo-circle {
            border: 1px solid #cecece;
            width: 60px;
            @media (max-width:767px) {
		        width: 60px;
		    }
    	}
    	.user-wrap {
    		vertical-align: middle;
    		position: relative;
    		.btn {
    			padding: 0;
    			margin-bottom: 10px;
    			color: #5284a9;
    			font-size: 18px;
    			font-weight: 700;
    			&:hover,
    			&:focus,
    			&:active {
    				box-shadow: none;
    				-moz-box-shadow: none;
    				-webkit-box-shadow: none;
    			}
    		}
    		.title {
    			color: #3d5569;
    			font-size: 18px;
    			font-weight: 700;
    		}
    		.status {
    			font-size: 16px;
    			padding: 0px 15px;
    			background-color: #3d5569;
    		}
    	}
    	.online, .offline {
    		width: 17px;
			height: 17px;
			display: block;
    	}
    	.online {
			background-color: #2c8c2a;
		}
		.offline {
			background-color: #3d5569;
		}
    }
}
// END ALL USERS
#all-topics {
	.first-col {
		width: 20px;
	}
}
#all-users {
	.first-col {
		width: 80px;
	}
}
.table-responsive {
	border: none;
	margin-top: 20px;
}
.table {
	thead {
		tr {
			border-bottom: 3px solid #12719a;
		}
	}
	tbody {
		.topic-wrap {
            .title, .text-description {
	            font-size: 14px;
	            color: #3d5569;
	            display: block;
	            span {
	            	color: #11729b;
	            }
		    }
		}
		.rating-star {
			vertical-align: top;
			cursor: pointer;
			img {
				height: 17px;
                width: 17px;
			}
		}
		.category {
			color: #11729b;
		}
		.posts-views {
			color: #3d5569;
		}
		.name {
			color: #11729b;
		}
		.date {
			color: #3d5569;
		}
		.tag-wrap {
			td {
				border-top: none;
			}
		}
	}
	.spacer {
		background-color: #fff;
		height: 23px;
	}
	tbody > tr {
		background-color: #eff3f6;
	}
	tbody > tr > th {
        border: none;
	}
	tbody > tr > td {
		vertical-align: middle;
		border: none;
	}
}
.pop-topics {
	margin-top: 37px;
	@media (max-width:520px) {
        width: 70%;
    }
	@media (min-width: 521px) and (max-width:991px) {
	    width: 40%;
	    margin-top: 0;
	}
	h4 {
	    font-size: 18px;
	    font-weight: 700;
    }
	.list-group {
		@media (max-width:991px) {
	    position: relative;
	    }
		.list-group-item {
			font-size: 12px;
			color: #fff;
			background-color: #52b6f9;
			margin: 20px 0;
			position: relative;
		}
		.bubbles {
			position: absolute;
			left: -40px;
		    margin-top: -40px;
		}
	}
	.list-group-item:first-child {
		border-radius: 0;
	}
}
.updates {
	margin-top: 70px;
	@media (max-width:520px) {
        width: 70%;
    }
	@media (min-width: 521px) and (max-width:991px) {
	    width: 40%;
	    margin-top: 50px;
	}
	.list-group {
		@media (max-width:991px) {
	        position: relative;
	    }
	}
	h4 {
	    font-size: 18px;
	    font-weight: 700;
    }
    .list-group-item {
    	border: 1px solid #535353;
    	margin: 20px 0;
	    position: relative;
	    z-index:10;
	    background-color: #f3f3f3;
	    padding: 2px 5px;
	    img {
	    	width: 100%;
	    }
	    &:before {
		    content:"";
		    display:block;
		    position:absolute;
		    z-index:-1;
		    top:0px;
		    left:0px;
		    right:0px;
		    bottom:0px;
		    border:1px solid #bebebe;
		}
    }
}
.tags {
	margin-top: 70px;
	h4 {
	    font-size: 18px;
	    font-weight: 700;
	    border-bottom: 2px solid #3d5569;
	    padding-bottom: 10px;
	    margin-bottom: 20px;
    }
    .btn {
    	background-color: #3d5569;
    	color: #fff;
    	margin: 0 3px 7px 0;
    	border-radius: 0;
    	border: none;
    	&:hover,
    	&:focus {
    		background-color: #52b6f9;
    	}
    }
}